*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: #000000;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    background-image: url('media/desert path.jpg');
    line-height: 1.5;
}
div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;   
    height: 100vh;
    position: absolute;
}

figure {
    background-color: #000;
    opacity: .5;
    padding: 20px;
    font-weight: bold;
}

audio {
    padding-top: 10px;
}

.hero {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('media/desert path.jpg');
    background-size: cover;

    &::before {
        content: "";
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        //background-color: rgba(0,0,0,0.25);
        background-color: rgba(152, 66, 211, 0.63);
    }
}